
<div ng-controller="AdminNoteEditController">
	<form class="form">
		<div class="form-group">
			<input type="text" ng-model="editNote.title" class="form-control" placeholder="{{ ' Title' | translate}}">
		</div>
		<div class="form-group">
			<textarea placeholder="{{'Content' | translate}}" ng-model="editNote.content" class="form-control" rows="20"></textarea>
		</div>
		<div class="form-group">
			Tags: <bootstrap-tagsinput tagclass="getTagClass" ng-model="editNote.tags"></bootstrap-tagsinput>
		</div>
		<div class="form-group">
			File Tags: <bootstrap-tagsinput tagclass="getTagClass" ng-model="editNote.fileTags"></bootstrap-tagsinput>
		</div>
		<button ng-disabled="saved()" class="btn btn-primary" ng-click="save()">{{'Save' | translate  }}</button>
	</form>
</div>

