<div ng-controller="FilesController">
	<h2>{{"Files" | translate}}
		<span ng-if="condition.tags">{{"Tags" | translate}}: {{condition.tags}}</span>
		<span ng-if="condition.search">{{"Search" | translate}}: {{condition.search}}</span>
	</h2>
	<pagination rotate="false" boundary-links="true" max-size="10" total-items="count_all" page="current_page" items-per-page="per_page"></pagination>
	<form class="form">
		<div class="form-group" style="">
			<div class="input-group" style="">
				<input class="form-control" ng-model="filter" style="width: 100%;" placeholder='{{"Filter" | translate}}' />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click='filter=""'  type="button"><span class="glyphicon glyphicon-remove"></span></button>
				</span>
			</div>
		</div>
	</form>
	<table class="table table-bordered table-fixed-columns-width">
			<thead>
				<tr>
					<th width="30%">{{"Filename" | translate}}</th>
					<th width="10%">{{"Size" | translate}}</th>
					<th width="10%">{{"File Type" | translate}}</th>
					<th width="20%">{{"Modified" | translate}}</th>
					<th width="30%">{{"Tags" | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="file in files | filter: filter">
					<td>
						<span><a href="files/{{file._id}}">{{file.name}}</a></span>
					</td>
					<td>
						<span>{{file.size}}</span>
					</td>
					<td>
						<span>{{file.mime}}</span>
					</td>
					<td>
						<span>{{file.modified | date:'medium'}}</span>
					</td>
					<td>
						<ul class="list-inline">
							<li ng-repeat="tag in file.tags"><span><a href='{{get_tag_url(tag)}}'>{{tag}}</a></span><span ng-if='$index != file.tags.length -1'>,</span></li>
						</ul>
					</td>
				</tr>
			</tbody>
	</table>
</div>
