<div ng-controller="FileController">
	<h2>{{"File" | translate}} {{file.name}}</h2>
	<table class="table table-bordered table-fixed-columns-width">
			<thead>
				<tr>
					<th width="30%">{{"Attribute" | translate}}</th>
					<th width="70%">{{"Value" | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span>{{"Filename" | translate}}</span>
					</td>
					<td>
						<span>{{file.name}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<span>{{"Size" | translate}}</span>
					</td>
					<td>
						<span>{{file.size}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<span>{{"File Type" | translate}}</span>
					</td>
					<td>
						<span>{{file.mime}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<span>{{"Modified" | translate}}</span>
					</td>
					<td>
						<span>{{file.modified}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<span>{{"Tags" | translate}}</span>
					</td>
					<td>
						<ul class="list-inline">
							<li ng-repeat="tag in file.tags"><span><a href='{{get_tag_url(tag)}}'>{{tag}}</a></span><span ng-if='$index != file.tags.length -1'>,</span></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span>{{"Operations" | translate}}</span>
					</td>
					<td>
						<ul class="list-inline">
							<li><a class="btn btn-primary" target="_blank" href="{{raw_url}}"><span class="glyphicon glyphicon-file"></span> {{'Open File' | translate}}</a></li>
							<li><a class="btn btn-primary" target="_blank" href="{{download_url}}"><span class="glyphicon glyphicon-download"></span> {{'Download' | translate}}</a></li>
							<li><a class="btn btn-info" target="_blank" href="{{raw_url}}" clip-copy="raw_url"><span class="glyphicon glyphicon-pushpin"></span> {{'Copy Download Link' | translate}}</a></li>
						</ul>
					</td>
				</tr>
			</tbody>
	</table>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">{{"Preview" | translate}}</h3>
		</div>
		<div class="panel-body">
			<div ng-if='preview_type() == "image"'>
				<a href='{{raw_url}}' target="_blank"><img src="{{raw_url}}" /></a>
			</div>
			<div ng-if='!preview_type()'>
				<p>{{"Not Available" | translate}}</p>
			</div>
		</div>
	</div>
</div>
