<div ng-controller="NotesController">
	<h2>{{"Notes" | translate}}</h2>
    	<div style="" class="row">
		<div class="col-lg-4">
			<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">{{"Notes" | translate}}</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th width="40%">{{"Title" | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="note in notes | filter: filter">
							<td>
								<span><span><a ng-click='changeCurrentNote($index)' title=''>{{note.title}}</a></span></span>
							</td>
						</tr>
					</tbody>
				</table>

	<form class="form">
		<div class="form-group">
			<div class="input-group" style="">
				<input class="form-control" ng-model="filter" style="width: 100%;" placeholder='{{"Filter" | translate}}' />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click='filter=""'  type="button"><span class="glyphicon glyphicon-remove"></span></button>
				</span>
			</div>
		</div>
	</form>
				<pagination rotate="false" boundary-links="true" max-size="10" total-items="countAll" page="currentPage" items-per-page="perPage"></pagination>

			</div>
			</div>
		</div>
		<div class="col-lg-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">{{currentNote.title}}</h3>
			</div>
			<div class="panel-body">
				<markdown extensions="github" ng-model="currentNote.content"></markdown>
			</div>
			<div class="panel-footer"><span ng-if='currentNote.modified'>{{currentNote.modified | date:'medium'}}</span></div>
		</div>
		</div>
    	</div>
</div>
