<div ng-controller="NotesController">
	<h2>{{"Notes" | translate}}</h2>
	<form class="form">
		<div class="form-group">
			<div class="input-group" style="">
				<input class="form-control" ng-model="filter" style="width: 100%;" placeholder='{{"Filter" | translate}}' />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click='filter=""'  type="button"><span class="glyphicon glyphicon-remove"></span></button>
				</span>
			</div>
		</div>
	</form>
  <tabset>
    <tab heading='{{"Note List" | translate}}'>
    	<div style="margin-top:10px">
			  <table class="table table-bordered table-fixed-columns-width">
					<thead>
						<tr>
							<th width="40%">{{"Title" | translate}}</th>
							<th width="60%">{{"Modified" | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="note in notes | filter: filter">
							<td>
								<span><span><a href=''>{{note._id}}</a></span></span>
							</td>
							<td>
								<span>{{note.modified}}</span></td>
							</td>
						</tr>
					</tbody>
				</table>
    	</div>
    </tab>
  </tabset>
</div>
