
/* angular-bootstrap css http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* make main scroll bar always visible to avoid main content width change*/
html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body {
  
}

a {
  cursor: pointer;
}